body {
    margin: 0 auto;
    width: 875px;
    font-family: sans-serif;
    letter-spacing: 2px;
    overflow: scroll;
}

#container {
    position: relative;
}

#container-rules {
    width: 275px;
    margin-top: 25px;
    float: left;
}

#container-game {
    width: 575px;
    float: right;
}